.rtc-wizard {
  position: absolute;
  height: 90vh;
  width: 50vw;
  left: 25vw;
  top: 5vh;
  background: rgba(80, 80, 80, 0.2);
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.2) inset;

  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.rtc-wizard-pages {
  flex: 1;
  overflow: hidden;
}

.rtc-wizard-pages section {
  position: absolute;
  width: calc(100% - 80px);
  flex: 1;
  padding: 10px 40px;
  top: 0;
  left: 0;

  -webkit-transform: translateX(100%) translateZ(0px);
  transform: translateX(100%) translateZ(0px);

  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.rtc-wizard section[data-state="active"] {
  -webkit-transform: translateX(0px) translateZ(0px);
  transform: translateX(0px) translateZ(0px);
}

.rtc-wizard  section[data-state="past"] {
  -webkit-transform: translateX(-100%) translateZ(0px);
  transform: translateX(-100%) translateZ(0px);
}


.rtc-wizard-step svg {
  flex: 1;
}

div.rtc-wizard-buttons {
  display: flex;
  height: 80px;
}

div.rtc-wizard-buttons button {
  background: rgba(50, 50, 50, 0.5);
  font-weight: bold;
  border: 0;
  margin: 2px;
  flex: 1;
}

@media (max-device-width: 640px) {
  .rtc-wizard {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
